/** ADMIN PAGE **/

#user_files_restore {
    margin: 1em;
    text-align: center;
    font-size: 300%;
    font-weight: bold;
}
#container {
    margin-left: 1em;
}
.dataBlock {
    font-size: 120%;
    width: 28%;
    float: left;
    margin-right: 2em;
    margin-bottom: 2em;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding-bottom: 0.5em;
}
#todo p.header {
    background: url("../img/todo.png") no-repeat scroll 5px 12px rgba(0, 0, 0, 0);
}
#running p.header {
    background: url("../img/running2.png") no-repeat scroll 5px 12px rgba(0, 0, 0, 0);
}
#done p.header {
    background: url("../img/done2.png") no-repeat scroll 5px 12px rgba(0, 0, 0, 0);
}
#todo.dataBlock p.header, #running.dataBlock p.header, #done.dataBlock p.header {
    font-weight: bold;
    background-color: #eee;
    padding: 1em 1em 1em 45px;
    margin-left:0;
    margin-bottom: 0.5em;
}
.dataBlock p {
    margin-left: 1em;
}
.dataBlock p span {
    opacity: 0.5;
}
#footer {
    clear: both;
    margin-top: 2em;
    text-align: center;
    font-size: 80%;
}

/** OVERLAY **/

#dropdown.drop-versions {
	width: 360px;
}
#available_versions li {
	width: 100%;
	cursor: default;
	height: 56px;
	float: left;
	border-bottom: 1px solid rgba(100,100,100,.1);
}
#available_versions li:last-child {
	border-bottom: none;
}
#available_versions li > * {
	padding: 7px;
	float: left;
	vertical-align: top;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity: .5;
}
#available_versions li span.versionName,
#available_versions li > span {
	padding: 17px 7px;
}
#available_versions li > span:hover,
#available_versions li > span:focus {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
#available_versions li span.versionName {
	opacity: .5;
}
#available_versions img {
	cursor: pointer;
	padding-right: 4px;
}
#available_versions img.preview {
	cursor: default;
	opacity: 1;
}
#available_versions .versionDate {
	min-width: 100px;
	vertical-align: text-bottom;
}
#available_versions .restoreVersion {
	cursor: pointer;
	float: right;
	max-width: 130px;
	text-overflow: ellipsis;
	overflow: hidden;
}

